html, body {
  @font-face{
    font-family: Alienation; 
    src: url(fonts/alienation.ttf);
  }
  justify-content: center;
  align-items: center;
  font-family: alienation;
  color:#0073ff;
  
  h1 {
      color: transparent;
      background-clip: text;
      background-image: linear-gradient(to right, #21f8ff, #0073ff, #21f8ff);
    font-size: 80px;
     text-align: center; 
     
  }
}

  .gifs {
    display: flex; 
  } 

  .gifs img {
    width: 30%;
    max-width: 300px;
    height: auto;
  }

  .navbar ul{
    list-style-type: none; 
    background-image: linear-gradient(to right,  #21f8ff, #0073ff, #21f8ff);
    text-align: center;
    margin: 0px; 
    font-size: 30px;
  }
  li{
    text-decoration-style:none; 
    list-style: none; display: inline-block;
    margin: 10px; 
  }
  p {
    font-size: 20px;
    text-align: center;
    font-family: garamond;

  }
    img {
      display: block;
      margin-left: auto; 
      margin-right: auto;
    }

canvas {
  display: block;
}
